@font-face {
    font-family: 'gothic'; 
    src: url(../fonts/CenturyGothic-Bold.ttf);
    src: url(../fonts/CenturyGothic-Bold.eot);
    src: url(../fonts/CenturyGothic-Bold.woff);
}
@font-face {
    font-family: 'open'; 
    src: url(../fonts/OpenSans-Bold.ttf);
    src: url(../fonts/OpenSans-Bold.eot);
    src: url(../fonts/OpenSans-Bold.woff);
}
@font-face {
    font-family: 'bank-gothic'; 
    src: url(../fonts/BankGothicRUSSMedium.ttf);
    src: url(../fonts/BankGothicRUSSMedium.eot);
    src: url(../fonts/BankGothicRUSSMedium.woff);
}
@font-face {
    font-family: 'proxima-bold'; 
    src: url(../fonts/ProximaNova-Bold.ttf);
    src: url(../fonts/ProximaNova-Bold.eot);
    src: url(../fonts/ProximaNova-Bold.woff);
}
@font-face {
    font-family: 'proxima-semi'; 
    src: url(../fonts/ProximaNova-Semibold.ttf);
    src: url(../fonts/ProximaNova-Semibold.eot);
    src: url(../fonts/ProximaNova-Semibold.woff);
}
@font-face {
    font-family: 'sf-black'; 
    src: url(../fonts/SFUIDisplay-Black.ttf);
    src: url(../fonts/SFUIDisplay-Black.eot);
    src: url(../fonts/SFUIDisplay-Black.woff);
}
@font-face {
    font-family: 'sf-bold'; 
    src: url(../fonts/SFUIDisplay-Bold.ttf);
    src: url(../fonts/SFUIDisplay-Bold.eot);
    src: url(../fonts/SFUIDisplay-Bold.woff);
}
@font-face {
    font-family: 'sf-light'; 
    src: url(../fonts/SFUIDisplay-Light.ttf);
    src: url(../fonts/SFUIDisplay-Light.eot);
    src: url(../fonts/SFUIDisplay-Light.woff);
}
@font-face {
    font-family: 'sf-medium'; 
    src: url(../fonts/SFUIDisplay-Medium.ttf);
    src: url(../fonts/SFUIDisplay-Medium.eot);
    src: url(../fonts/SFUIDisplay-Medium.woff);
}
@font-face {
    font-family: 'sf-regular'; 
    src: url(../fonts/SFUIDisplay-Regular.ttf);
    src: url(../fonts/SFUIDisplay-Regular.eot);
    src: url(../fonts/SFUIDisplay-Regular.woff);
}
@font-face {
    font-family: 'sf-semi'; 
    src: url(../fonts/SFUIDisplay-Semibold.ttf);
    src: url(../fonts/SFUIDisplay-Semibold.eot);
    src: url(../fonts/SFUIDisplay-Semibold.woff);
}
@font-face {
    font-family: 'sf-ultra'; 
    src: url(../fonts/SFUIDisplay-Ultralight.ttf);
    src: url(../fonts/SFUIDisplay-Ultralight.eot);
    src: url(../fonts/SFUIDisplay-Ultralight.woff);
}
