$mineShaft: #383838;
$silver: #ccc;
$white: #fff;
$black: #000;
$lightBlue: #42b4e6;

$youtubeColor: #cd201f;

$color-primary: #2d3e4f;

$primaryTextColor: #666466;
$colorSecondary: #f19b2c;
$color-white: #fff;
$color-black: #000;

$color-0: $color-primary;
$color-0-1: #515c6a;
$color-0-2: #c2cbd2;
$color-0-3: #274869;


$color-1: #6fC3ab;
$color-1-1: #DCE6FF;

$color-2: #9696c8;

$color-3: #FEFFD7;
$color-3-1: #ffe6be;
$color-3-2: #ffc88d;
$color-3-3: #fe652b;

$yellowSea: #f60;

$errorColor: $youtubeColor;
$successColor: #34a853;
$noticeColor: $lightBlue;
$warningColor: $yellowSea;
