/* Mixin for adding fonts =================================================== */
@mixin fontFace($family, $src, $style: normal, $weight: normal) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.woff') format('woff'),
           url('#{$src}.woff2') format('woff2');
        font-style: $style;
        font-weight: $weight;
    }
}
/* ========================================================================== */

@mixin media($bp) {
    @media screen and (min-width: $bp) {
        @content;
    }
}
