@charset "UTF-8";
/* Mixin for adding fonts =================================================== */
/* ========================================================================== */
.__list.__dashed > .item::before {
  content: '-';
  padding-right: 2px; }

.__no-padding {
  padding: 0 !important; }

.__bg-color-1 {
  background: #6fC3ab; }

.__bg-color-1-1 {
  background: #DCE6FF; }

.__bg-color-2 {
  background: #9696c8; }

.__color-1 {
  color: #6fC3ab; }

.__color-2 {
  color: #9696c8; }

.__bg-color-1,
.__bg-color-2 {
  color: #fff; }

.__bg-color-3 {
  background-color: #FEFFD7; }

.__bg-color-3-1 {
  background-color: #ffe6be; }

.__font-secondary {
  font-family: "Caveat", cursive, sans-serif; }

.__border {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.text.__small {
  font-size: 14px; }
.text.__medium {
  font-size: 18px; }
.text.__large {
  font-size: 20px; }
.text.__xlarge {
  font-size: 30px; }

.image {
  border: 2px solid #fff;
  border-radius: 10px; }
  @media screen and (min-width: 768px) {
    .image {
      border-width: 4px;
      border-radius: 20px; } }

.logo {
  color: #9696c8; }

html.__fixed {
  overflow: hidden; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 320px; }

body {
  font-family: "Open Sans", sans-serif;
  color: #666466;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
  -ms-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media screen and (min-width: 768px) {
    body {
      font-size: 16px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 700; }

input,
textarea,
button {
  font-family: "Open Sans", sans-serif; }

[type='text'],
[type='number'],
[type='email'],
[type='password'] {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  background: transparent; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

p {
  margin-top: 0;
  margin-bottom: 15px; }
p:last-child {
  margin-bottom: 0; }

svg {
  max-width: 100%;
  max-height: 100%;
  fill: currentColor; }

iframe {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%; }

.page-overlay, .no-touch .slider-nav .slick-slide::before, .form::before, .modal,
.modal .overlay, .page-header::before, .main-nav, .lightbox-trigger::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.__hidden, .page-overlay, .no-touch .slider-nav .slick-slide::before, .form::before, .modal, .main-nav, .lightbox-trigger::before,
.lightbox-trigger .zoom-icon {
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: .2s; }

.__visible, .__show-overlay .page-overlay, .no-touch .slider-nav .slick-current::before,
.no-touch .slider-nav .slick-slide:hover::before, .form.__loading::before, .modal.__active, .main-nav.__active, .no-touch .lightbox-trigger:hover::before,
.no-touch .lightbox-trigger:hover .zoom-icon {
  opacity: 1;
  visibility: visible; }

.__list, .slick-dots {
  margin: 0;
  padding: 0;
  list-style: none; }

.page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  flex: 1 1 100%;
  padding-top: 80px; }

.cols {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px; }
.cols > .col {
  flex: 0 0 100%;
  padding: 0 10px 35px; }
  @media screen and (min-width: 768px) {
    .cols > .col {
      padding-bottom: 0; } }
.cols.__equal-cols {
  align-items: stretch; }

.__cols-4 > .col {
  flex: 0 0 50%; }
@media screen and (min-width: 768px) {
  .__cols-4 > .col {
    flex-basis: 25%; } }

@media screen and (min-width: 768px) {
  .__cols-2 > .col {
    flex-basis: 50%; } }

.page-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5); }

.page-footer .title {
  margin: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
.slick-list:focus {
  outline: none; }
.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
.slick-track::before, .slick-track::after {
  content: '';
  display: table; }
.slick-track::after {
  clear: both; }
.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none; }
[dir="rtl"] .slick-slide {
  float: right; }
.slick-slide img {
  display: block; }
.slick-slide.slick-loading img {
  display: none; }
.slick-slide.dragging img {
  pointer-events: none; }
.slick-initialized .slick-slide {
  display: block; }
.slick-loading .slick-slide {
  visibility: hidden; }
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 5px; }
.slick-dots > li {
  margin: 0 5px 5px; }
.slick-dots button {
  display: block;
  width: 15px;
  height: 15px;
  font-size: 0;
  border-radius: 50%;
  border: 1px solid #fff;
  background: #6fC3ab;
  opacity: .7;
  outline: none;
  transition: opacity .2s ease-in-out; }
.slick-dots .slick-active > button {
  opacity: 1; }

.__bg-color-1 .slick-dots button {
  background: #9696c8; }

.no-touch .slider-nav .slick-slide {
  position: relative; }
.no-touch .slider-nav .slick-slide::before {
  content: '';
  z-index: 1;
  background: rgba(255, 255, 255, 0.5); }

.title {
  display: block;
  margin-bottom: 10px;
  font: 20px 'Caveat', cursive; }
@media screen and (min-width: 768px) {
  .title {
    font-size: 22px; } }
@media screen and (min-width: 1024px) {
  .title {
    font-size: 24px; } }
.title.__medium {
  font-size: 22px; }
@media screen and (min-width: 768px) {
  .title.__medium {
    font-size: 24px; } }
@media screen and (min-width: 1024px) {
  .title.__medium {
    font-size: 26px; } }
.title.__large {
  font-size: 26px; }
@media screen and (min-width: 768px) {
  .title.__large {
    font-size: 28px; } }
@media screen and (min-width: 1024px) {
  .title.__large {
    font-size: 30px; } }
.title.__bordered {
  position: relative;
  z-index: 1;
  max-width: 280px;
  width: 100%;
  margin: 0 20px;
  border: 2px solid #fff;
  border-width: 2px 4px;
  border-radius: 30px;
  transform: translateY(-50%); }
.title.__bordered > span {
  display: block;
  padding: 5px 10px;
  background: #fff;
  border: 4px solid #6fC3ab;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-radius: 30px;
  color: #6fC3ab;
  text-align: center;
  text-transform: capitalize; }

.section-title {
  width: 100%; }
.section-title .title {
  margin-left: auto;
  margin-right: auto; }
.section-title .__bordered::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 4000px;
  height: 8px;
  left: -2000px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff; }
@media screen and (min-width: 768px) {
  .section-title .__bordered {
    max-width: 600px;
    font-size: 30px; } }
@media screen and (min-width: 1024px) {
  .section-title .__bordered {
    max-width: 800px;
    font-size: 36px; } }

.form {
  position: relative; }
.form .field {
  position: relative;
  margin: 0 0 20px;
  padding: 10px 20px 12px 88px;
  border: 1px solid #9696c8;
  border-radius: 8px; }
.form .__label-above {
  padding-left: 20px; }
.form .__label-above .label {
  position: static;
  display: block;
  text-align: center;
  margin-bottom: 10px; }
.form .label {
  position: absolute;
  left: 10px;
  bottom: 11px;
  color: #6fC3ab;
  font-size: 14px; }
.form .input-text {
  border-bottom: 1px dashed #9696c8;
  color: #9696c8; }
.form .button {
  width: 100%; }
.form.__loading::before {
  text-align: center;
  padding: 0 10px; }
.form::before {
  z-index: 1;
  content: 'Отсылаем данные...';
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  background: #6fC3ab;
  border-radius: 8px;
  border: 2px solid #9696c8; }
.form.__success::before {
  content: 'Спасибо! Ваша заявка принята! Мы свяжемся с вами в близжайщее время!'; }

.bordered-icon {
  position: relative;
  display: block;
  width: 70px;
  height: 70px; }
  @media screen and (min-width: 1024px) {
    .bordered-icon {
      width: 90px;
      height: 90px; } }
  @media screen and (min-width: 1024px) {
    .bordered-icon {
      width: 116px;
      height: 116px; } }
.bordered-icon > .icon {
  padding: 15px; }
.bordered-icon > .icon-bow {
  padding: 4px; }
.bordered-icon > .icon-pie {
  padding: 10px 15px 5px; }

.__list .box {
  text-align: center;
  font-style: italic; }
.__list .box br {
  display: none; }
@media screen and (min-width: 768px) {
  .__list .box br {
    display: block; } }
.__list .bordered-icon {
  margin: 0 auto 15px; }

.__enumerable {
  counter-reset: steps; }
  .__enumerable .counter::before {
    counter-increment: steps;
    content: counter(steps); }

.box {
  position: relative;
  height: 100%; }
.box.__bordered {
  padding: 20px 15px;
  border-radius: 20px;
  border: 2px solid; }
@media screen and (min-width: 1024px) {
  .box.__bordered {
    padding: 30px 20px;
    border-width: 2px 4px; } }
.box.__medium {
  max-width: 455px; }
@media screen and (min-width: 1024px) {
  .box.counter {
    text-align: left;
    padding-left: 128px;
    padding-top: 23px; } }
.box .title.__bordered {
  width: auto; }
.box.counter::before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  border: 2px solid;
  border-radius: 50%;
  font-size: 30px; }
@media screen and (min-width: 1024px) {
  .box.counter::before {
    position: absolute;
    left: 0;
    top: 13px;
    border: 0;
    width: 128px;
    height: auto;
    font-size: 120px;
    line-height: 1; } }
.box.counter .title {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e6e6e6; }
@media screen and (min-width: 1024px) {
  .box.counter .title {
    margin-bottom: 30px;
    padding: 0;
    border: 0; } }
.box .button {
  display: block;
  margin: 0 auto; }
@media screen and (min-width: 1024px) {
  .box .__secondary {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 240px;
    padding-left: 5px;
    padding-right: 5px; } }

.services-list .col {
  display: flex;
  flex-direction: column;
  text-align: center; }
@media screen and (min-width: 768px) {
  .services-list .col {
    padding-bottom: 40px; } }
@media screen and (min-width: 768px) {
  .services-list .col {
    padding-bottom: 70px; } }
.services-list .bordered-icon {
  margin-bottom: 5px; }
@media screen and (min-width: 1024px) {
  .services-list .bordered-icon .icon {
    padding: 20px; } }
.services-list .box {
  max-width: 500px;
  margin: 0 auto;
  height: auto;
  flex-grow: 1; }

.contacts {
  color: #6fC3ab; }
.contacts .icons {
  justify-content: center;
  padding-bottom: 10px; }
@media screen and (min-width: 768px) {
  .contacts .col.icon {
    flex: 0 0 74px;
    height: 79px;
    padding: 0;
    margin: 0 10px 0 0; } }
.contacts .phone {
  display: block;
  transition: color .2s ease-in-out; }
@media screen and (min-width: 1024px) {
  .contacts .phone {
    display: inline-block;
    vertical-align: middle; } }
.contacts .phone:hover {
  color: #9696c8; }
@media screen and (min-width: 1024px) {
  .contacts .phone + .phone::before {
    content: '/';
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
    color: #6fC3ab; } }
@media screen and (min-width: 1024px) {
  .contacts .content .text {
    margin-bottom: 0; } }

.large-text {
  font-size: 40px;
  font-family: "Caveat", cursive, sans-serif;
  line-height: 1;
  text-align: center; }
.large-text .text {
  margin-bottom: 30px; }
.large-text .text.__large {
  font-size: 30px; }

.b-intro .logo {
  margin-bottom: 20px; }
.b-intro .title {
  line-height: 1; }
.b-intro .text,
.b-intro .hero-image {
  margin-bottom: 15px; }
.b-intro .button {
  width: 100%; }
@media screen and (min-width: 768px) {
  .b-intro .hero-image {
    display: none; } }

@media screen and (min-width: 1024px) {
  .hero-product {
    position: relative; } }
@media screen and (min-width: 1024px) {
  .hero-product .button {
    display: none; } }

.socials .item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 10px; }
.socials .bordered-icon {
  transition: opacity .2s ease; }
.socials .icon {
  padding: 19px; }
.socials .instagram {
  color: #c13584; }
.socials .facebook {
  color: #3b5998; }
.socials .vk {
  color: #45668e; }

.no-touch .socials .bordered-icon {
  opacity: .8; }
.no-touch .socials .bordered-icon:hover {
  opacity: 1; }

.button {
  display: inline-block;
  min-width: 150px;
  padding: 10px 20px;
  outline: none;
  box-shadow: 0 0 0 #fff;
  background: #6fC3ab;
  border-radius: 8px;
  border: 2px solid #9696c8;
  font-size: 16px;
  font-family: 'Caveat', cursive;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1.5px;
  transition: all .2s ease-in-out; }
  @media screen and (min-width: 1024px) {
    .button {
      min-width: 250px;
      padding: 10px 30px;
      font-size: 20px;
      border-width: 4px 2px; } }
.button.__inverted {
  border-color: #6fC3ab;
  background: #9696c8; }
.button.__secondary {
  border-color: #fff;
  background: #9696c8; }

.link {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer; }

.no-touch .button:hover {
  background: #5dbca1;
  border-color: #8585bf; }
.no-touch .button.__secondary:hover {
  background: #6fC3ab;
  border-color: #8585bf; }

.modal,
.modal .overlay {
  z-index: 11;
  position: fixed;
  display: flex;
  align-items: center; }
.modal .overlay {
  z-index: 0;
  background: rgba(255, 255, 255, 0.95); }
.modal > .content {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 15px;
  padding: 20px;
  height: 250px;
  border-radius: 8px;
  border-color: #9696c8; }

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; }
.page-header::before {
  content: '';
  background: #9696c8;
  box-shadow: 0 0 1px 1px #515c6a;
  z-index: 1; }
.page-header > .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  padding: 10px 20px;
  margin: 0 auto;
  color: #fff; }
.page-header .logo,
.page-header .mobile-nav {
  z-index: 2; }
.page-header .logo {
  flex: 0 0 100px;
  height: 50px;
  margin: 0;
  color: inherit; }

.main-nav {
  position: fixed;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  top: 70px;
  background: #fff;
  color: #6fC3ab;
  font-family: "Caveat", cursive, sans-serif;
  text-align: center; }
@media screen and (min-width: 768px) {
  .main-nav {
    align-items: flex-start;
    width: 300px;
    left: auto;
    right: -300px;
    text-align: left;
    transition-property: right, opacity, visibility; } }
@media screen and (min-width: 1024px) {
  .main-nav {
    overflow: hidden;
    position: relative;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    right: 0;
    top: 0;
    height: auto;
    width: auto;
    background: transparent;
    color: #fff; } }
@media screen and (min-width: 768px) {
  .main-nav.__active {
    right: 0; } }
.main-nav > .nav {
  width: 100%; }
@media screen and (min-width: 768px) {
  .main-nav > .nav {
    padding-top: 40px; } }
@media screen and (min-width: 1024px) {
  .main-nav > .nav {
    padding: 0; } }
.main-nav .nav-item {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 24px; }
@media screen and (min-width: 1024px) {
  .main-nav .nav-item {
    display: inline;
    padding: 0 0 0 20px; } }

.user-panel {
  display: flex; }
.user-panel .bordered-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px; }
.user-panel .bordered-icon:first-child {
  margin-left: 0; }
@media screen and (min-width: 1024px) {
  .user-panel .bordered-icon {
    display: none; } }
.user-panel .icon {
  padding: 10px; }
.user-panel .shopping-bag {
  padding-bottom: 11px; }
.user-panel .counter {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #fff; }

@media screen and (min-width: 768px) {
  .product {
    flex-wrap: nowrap; } }
@media screen and (min-width: 1024px) {
  .product {
    margin-left: -40px;
    margin-right: -40px; } }
@media screen and (min-width: 768px) {
  .product.__reverse {
    flex-direction: row-reverse; } }
.product .col {
  width: 100%;
  max-width: 100%;
  padding-bottom: 10px; }
@media screen and (min-width: 768px) {
  .product .col {
    width: 50%;
    max-width: 50%;
    flex-basis: 50%;
    padding-left: 10px;
    padding-right: 10px; } }
@media screen and (min-width: 1024px) {
  .product .col {
    padding-left: 40px;
    padding-right: 40px; } }

.product-config {
  padding-top: 20px;
  border-top: 1px dashed;
  margin: 0; }
.product-config .field {
  background: #fff; }
.product-config .price-box {
  flex-basis: 70%;
  padding: 0;
  padding-right: 20px; }
.product-config .qty-block {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border-radius: 8px;
  border-width: 2px;
  text-align: center; }
.product-config .qty-block .label {
  margin-bottom: 0; }
.product-config .input-text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border: 0;
  font-size: 24px; }

.product-gallery {
  position: relative; }
.product-gallery::before {
  content: attr(data-mobile-title);
  display: block;
  padding: 0 0 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-align: center; }
@media screen and (min-width: 768px) {
  .product-gallery::before {
    display: none; } }
.product-gallery .image {
  border-radius: 2px; }

.gallery {
  padding-bottom: 10px;
  font-size: 0; }
.gallery > .item {
  width: 100%;
  display: inline-block; }

.thumbs {
  margin: 0 -5px; }
.thumbs .item {
  width: 33.3334%;
  padding: 0 5px;
  cursor: pointer; }
.thumbs.slider-nav .slick-slide::before {
  left: 5px;
  right: 5px; }

@media screen and (min-width: 768px) {
  .product-info {
    display: flex;
    flex-direction: column; } }
.product-info .price-box {
  margin-bottom: 10px;
  width: 200px; }
.product-info .product-title {
  display: none; }
@media screen and (min-width: 768px) {
  .product-info .product-title {
    display: block; } }
.product-info .product-title {
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }
.product-info p,
.product-info ul {
  margin-bottom: 10px; }
.product-info p {
  font-size: 16px; }
@media screen and (min-width: 1024px) {
  .product-info p {
    font-size: 20px; } }
.product-info ul {
  font-size: 14px; }
@media screen and (min-width: 1024px) {
  .product-info ul {
    font-size: 16px; } }
.product-info ul > li {
  margin-bottom: 5px; }
@media screen and (min-width: 768px) {
  .product-info .form {
    margin-top: auto;
    margin-bottom: 10px; } }
.product-info .actions {
  padding-top: 20px;
  text-align: center; }
@media screen and (min-width: 768px) {
  .product-info .actions {
    text-align: left; } }
.product-info .button {
  width: 100%; }
@media screen and (min-width: 1024px) {
  .product-info .button {
    font-size: 24px; } }

.price-box .price {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 8px 10px 11px;
  border: 2px solid;
  border-radius: 8px;
  line-height: 1;
  font-size: 24px;
  font-weight: 700; }
@media screen and (min-width: 768px) {
  .price-box .price {
    font-size: 30px; } }

.product-kit {
  display: none;
  margin-top: 40px; }
.product-kit .link {
  display: block;
  margin: 0 auto;
  font-size: 12px;
  text-transform: uppercase;
  color: #6fC3ab; }
@media screen and (min-width: 768px) {
  .product-kit .link {
    font-size: 14px; } }
@media screen and (min-width: 1024px) {
  .product-kit .link {
    font-size: 16px; } }
.product-kit .link .icon {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 auto; }
@media screen and (min-width: 1024px) {
  .product-kit .link .icon {
    width: 18px;
    height: 18px; } }

.kit {
  display: block;
  padding: 20px 0;
  margin-bottom: 20px;
  border-top: 1px dashed #6fC3ab;
  border-bottom: 1px dashed #6fC3ab;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .kit {
      flex-wrap: wrap;
      display: flex; } }
.kit > .item {
  width: 33.3333%;
  margin: 0;
  padding: 20px 10px; }
.kit .__icon {
  display: block;
  height: 50px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto; }
@media screen and (min-width: 1024px) {
  .kit .__icon {
    flex-basis: 70px;
    width: 70px;
    height: 70px; } }
.kit .__description {
  font-size: 14px; }
@media screen and (min-width: 1024px) {
  .kit .__description {
    flex-basis: calc(100% - 70px);
    text-align: left; } }
.kit .icon {
  color: #6fC3ab; }
.kit .title {
  margin-bottom: 5px;
  font: 400 20px "Open Sans", sans-serif; }
.kit p {
  margin-bottom: 5px; }

.__bg-color-3 .kit {
  border-color: #ffc88d; }
.__bg-color-3 .kit .icon,
.__bg-color-3 .product-kit .link {
  color: #ffc88d; }

.__bg-color-3-1 .kit {
  border-color: #fe652b; }
.__bg-color-3-1 .kit .icon,
.__bg-color-3-1 .product-kit .link {
  color: #fe652b; }

.cart {
  padding: 10px;
  background: #6fC3ab;
  color: #fff; }
.cart .content {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px;
  border-radius: 8px;
  overflow: auto; }
.cart .step {
  display: none; }
.cart .step.__active {
  display: flex;
  min-height: 100%;
  flex-direction: column; }
.cart .step-title {
  padding: 0 20px 10px;
  margin-bottom: 20px;
  border-bottom: 1px dashed;
  text-align: center;
  text-transform: uppercase; }
.cart .col {
  flex-basis: 50%;
  max-width: 50%;
  padding-bottom: 10px; }
.cart .totals {
  padding: 10px;
  margin-top: auto;
  margin-bottom: 20px;
  border-top: 1px dashed;
  border-bottom: 1px dashed;
  text-align: center; }
.cart .totals .title {
  margin-bottom: 0; }
.cart .field,
.cart .input-text {
  border-color: #e6e6e6; }
.cart .label,
.cart .input-text {
  color: #fff; }
.cart .button {
  width: 100%; }

.section {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; }
.section.__mobile-overlay .__bg-color-1,
.section.__mobile-overlay .__bg-color-2 {
  background: transparent; }
@media screen and (min-width: 768px) {
  .section.__mobile-overlay .__bg-color-1 {
    background-color: #6fC3ab; }
  .section.__mobile-overlay .__bg-color-2 {
    background-color: #9696c8; } }
.section.__mobile-overlay::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(111, 195, 171, 0.8); }
@media screen and (min-width: 768px) {
  .section.__mobile-overlay::before {
    display: none; } }
.section.__bg-color-2.__mobile-overlay::before {
  background-color: rgba(150, 150, 200, 0.8); }
.section.__titled {
  padding-top: 30px; }
.section.__titled .section-title {
  position: absolute;
  top: 0; }
.section.__centered {
  text-align: center; }
.section.__centered .image {
  margin: 0 auto 10px; }
.section.__with-shadow {
  box-shadow: 0 4px 10px -4px rgba(102, 100, 102, 0.8) inset; }
.section > .content {
  max-width: 1250px;
  padding: 30px 20px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .section > .content {
      padding-top: 55px;
      padding-bottom: 45px; } }
  @media screen and (min-width: 1024px) {
    .section > .content {
      padding-top: 75px;
      padding-bottom: 55px; } }

.border {
  position: absolute;
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  box-shadow: 0 4px 10px -4px rgba(102, 100, 102, 0.8); }
@media screen and (min-width: 768px) {
  .border {
    height: 20px; } }

.s-hero {
  text-align: center; }
.s-hero .large-text {
  display: none; }
@media screen and (min-width: 768px) {
  .s-hero .large-text {
    display: block; } }
@media screen and (min-width: 1024px) {
  .s-hero .large-text {
    flex-basis: 60%;
    text-align: left; } }
@media screen and (min-width: 1024px) {
  .s-hero .contacts {
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 40px; } }
@media screen and (min-width: 768px) {
  .s-hero .contacts > .col {
    flex-basis: 100%; } }
@media screen and (min-width: 1024px) {
  .s-hero .contacts > .col {
    flex-basis: initial; } }
@media screen and (min-width: 768px) {
  .s-hero .contacts > .icons {
    flex-basis: 220px;
    padding: 0;
    margin: 0 auto; } }
@media screen and (min-width: 1024px) {
  .s-hero .contacts > .icons {
    flex-basis: 170px;
    flex-shrink: 1;
    justify-content: flex-start;
    margin: 0; } }
.s-hero .col.content {
  padding-bottom: 0; }
.s-hero .b-intro {
  padding-bottom: 0; }
@media screen and (min-width: 1024px) {
  .s-hero .b-intro {
    flex-basis: 40%; } }
.s-hero .hero-product > img {
  max-width: 75%; }

.s-gears .image {
  width: 60%; }
.s-gears .button {
  display: block;
  margin: 0 auto 50px; }
.s-gears .slick-slider {
  margin-bottom: 20px; }
@media screen and (min-width: 1024px) {
  .s-gears .slick-slider {
    margin-bottom: 70px; } }
@media screen and (min-width: 1024px) {
  .s-gears .content .title {
    height: 78px; } }

.s-gift {
  padding-bottom: 30px; }
@media screen and (min-width: 768px) {
  .s-gift {
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center center; } }
@media screen and (min-width: 1024px) {
  .s-gift {
    padding-top: 400px; } }
.s-gift .box {
  margin: 0 auto; }
@media screen and (min-width: 1024px) {
  .s-gift .box {
    margin-left: 0; } }
@media screen and (min-width: 1024px) {
  .s-gift .text {
    font-size: 18px; } }
.s-gift .button.__inverted {
  left: 65%; }

.s-about {
  padding-top: 30px; }
.s-about::before {
  content: '';
  display: block;
  border-top: 10px solid #7575b6;
  box-shadow: 0 0 1px 1px #9696c8; }
@media screen and (min-width: 768px) {
  .s-about {
    padding: 50px 40px;
    background-position: top left; } }
@media screen and (min-width: 1024px) {
  .s-about {
    padding: 50px 40px 400px; } }
.s-about > .content {
  position: relative;
  z-index: 1;
  padding-bottom: 50px; }
.s-about .box {
  padding-top: 0;
  margin: 0 auto; }
@media screen and (min-width: 768px) {
  .s-about .box {
    padding: 55px 30px 30px;
    margin-left: 0; } }
@media screen and (min-width: 768px) {
  .s-about .title {
    position: absolute;
    top: 0;
    left: 50%;
    width: 260px;
    margin-left: -130px; } }
.s-about .text.__large {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 15px; }

.s-kit .kit .col {
  padding: 10px; }
@media screen and (min-width: 1024px) {
  .s-kit .kit .col {
    flex-basis: 33.3334%;
    max-width: 33.3334%;
    padding-bottom: 20px; } }
.s-kit .__list {
  justify-content: flex-start; }

.s-steps .box {
  margin: 0 auto;
  font-style: normal; }
@media screen and (min-width: 768px) {
  .s-steps .box {
    max-width: 100%; } }
@media screen and (min-width: 768px) {
  .s-steps .col {
    margin-bottom: 20px; } }
@media screen and (min-width: 1024px) {
  .s-steps .col {
    margin-bottom: 50px; } }

.s-outro {
  padding-top: 20px;
  text-align: center; }
.s-outro .logo {
  padding: 0 30px; }
.s-outro .contacts {
  padding-bottom: 30px; }

.lightbox-trigger {
  overflow: hidden;
  position: relative;
  display: block; }
.lightbox-trigger::before {
  content: '';
  background: rgba(255, 255, 255, 0.8); }
.lightbox-trigger > img {
  display: block;
  width: 100%; }
.lightbox-trigger .zoom-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #7575b6; }

@font-face {
  font-family: "Caveat";
  src: url("../fonts/secondary/unknown.woff") format("woff"), url("../fonts/secondary/unknown.woff2") format("woff2");
  font-style: normal;
  font-weight: 600; }
#svgPlaceholder {
  display: none; }

/*# sourceMappingURL=app.css.map */
