.s-gift {
    & {
        padding-bottom: 30px;
    }

    @include media($media__tablet) {
        padding-top: 50px;
        padding-bottom: 50px;
        background-position: center center;
    }

    @include media($media__desktop) {
        padding-top: 400px;
    }

    .box {
        & {
            margin: 0 auto;
        }

        @include media($media__desktop) {
            margin-left: 0;
        }
    }

    .text {
        @include media($media__desktop) {
            font-size: 18px;
        }
    }

    .button.__inverted {
        left: 65%;
    }
}
