.s-hero {
    & {
        text-align: center;
    }

    .large-text {
        & {
            display: none;
        }

        @include media($media__tablet) {
            display: block;
        };

        @include media($media__desktop) {
            flex-basis: 60%;
            text-align: left;
        };
    }

    .contacts {
        @include media($media__desktop) {
            align-items: center;
            flex-wrap: nowrap;
            justify-content: flex-start;
            margin-bottom: 40px;
        };
    }

    .contacts > .col {
        @include media($media__tablet) {
            flex-basis: 100%;
        };

        @include media($media__desktop) {
            flex-basis: initial;
        }
    }

    .contacts > .icons {
        @include media($media__tablet) {
            flex-basis: 220px;
            padding: 0;
            margin: 0 auto;
        }

        @include media($media__desktop) {
            flex-basis: 170px;
            flex-shrink: 1;
            justify-content: flex-start;
            margin: 0;
        }
    }

    .col.content {
        padding-bottom: 0;
    }

    .b-intro {
        & {
            padding-bottom: 0;
        }

        @include media($media__desktop) {
            flex-basis: 40%;
        }
    }
    .hero-product > img {
        max-width: 75%;
    }
}

