.s-kit {
    .kit .col {
        & {
            padding: 10px;
        }

        @include media($media__desktop) {
            flex-basis: 33.3334%;
            max-width: 33.3334%; // IE Fix
            padding-bottom: 20px;
        }
    }

    .__list {
        justify-content: flex-start;
    }
}
