.page-header {
    & {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    &::before {
        @extend %overlay;
        content: '';
        background: $color-2;
        box-shadow: 0 0 1px 1px $color-0-1;
        z-index: 1;
    }

    > .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1250px;
        padding: 10px 20px;
        margin: 0 auto;
        color: $color-white;
    }

    .logo,
    .mobile-nav {
        z-index: 2;
    }

    .logo {
        flex: 0 0 100px;
        height: 50px;
        margin: 0;
        color: inherit;
    }
}

.main-nav {
    & {
        @extend %overlay;
        @extend %hidden;
        position: fixed;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 70px);
        top: 70px;
        background: $color-white;
        color: $color-1;
        font-family: $font-family__secondary;
        text-align: center;
    }

    @include media($media__tablet) {
        align-items: flex-start;
        width: 300px;
        left: auto;
        right: -300px;
        text-align: left;
        transition-property: right, opacity, visibility;
    }

    @include media($media__desktop) {
        overflow: hidden;
        position: relative;
        z-index: 1;
        opacity: 1;
        visibility: visible;
        right: 0;
        top: 0;
        height: auto;
        width: auto;
        background: transparent;
        color: $color-white;
    }

    &.__active {
        & {
            @extend %visible;
        }

        @include media($media__tablet) {
            right: 0;
        }
    }

    > .nav {
        & {
            width: 100%;
        }

        @include media($media__tablet) {
            padding-top: 40px;
        }

        @include media($media__desktop) {
            padding: 0;
        }
    }

    .nav-item {
        & {
            display: block;
            width: 100%;
            padding: 10px 20px;
            font-size: 24px;
        }

        @include media($media__desktop) {
            display: inline;
            padding: 0 0 0 20px;
        }
    }
}

.user-panel {
    & {
        display: flex;
    }

    .bordered-icon {
        & {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-left: 10px;
        }

        &:first-child {
            margin-left: 0;
        }

        @include media($media__desktop) {
            display: none;
        }
    }

    .icon {
        padding: 10px;
    }

    .shopping-bag {
        padding-bottom: 11px;
    }

    .counter {
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid $color-white;
    }
}

// .counter {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: $color-1;
//     width: 18px;
//     height: 18px;
//     border-radius: 50%;
//     line-height: 1;
//     font-size: 14px;
//     color: $color-white;
// }
