.modal {
    & {
        @extend %hidden;
    }

    &,
    .overlay {
        @extend %overlay;
        z-index: 11;
        position: fixed;
        display: flex;
        align-items: center;
    }

    &.__active {
        @extend %visible;
    }

    .overlay {
        z-index: 0;
        background: rgba($color-white, .95);
    }

    > .content {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 15px;
        padding: 20px;
        height: 250px;
        border-radius: 8px;
        border-color: $color-2;
    }
}
