.title {
    & {
        display: block;
        margin-bottom: 10px;
        font: 20px 'Caveat', cursive;
    }

    @include media($media__tablet) {
        font-size: 22px;
    }

    @include media($media__desktop) {
        font-size: 24px;
    }

    &.__medium {
        & {
            font-size: 22px;
        }

        @include media($media__tablet) {
            font-size: 24px;
        }

        @include media($media__desktop) {
            font-size: 26px;
        }
    }

    &.__large {
        & {
            font-size: 26px;
        }

        @include media($media__tablet) {
            font-size: 28px;
        }

        @include media($media__desktop) {
            font-size: 30px;
        }
    }

    &.__bordered {
        position: relative;
        z-index: 1;
        max-width: 280px;
        width: 100%;
        margin: 0 20px;
        border: 2px solid $color-white;
        border-width: 2px 4px;
        border-radius: 30px;
        transform: translateY(-50%);
    }

    &.__bordered > span {
        display: block;
        padding: 5px 10px;
        background: $color-white;
        border: 4px solid $color-1;
        border-top-width: 2px;
        border-bottom-width: 2px;
        border-radius: 30px;
        color: $color-1;
        text-align: center;
        text-transform: capitalize;
    }
}

.section-title {
    & {
        width: 100%;
    }

    .title {
        margin-left: auto;
        margin-right: auto;
    }

    .__bordered::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 4000px;
        height: 8px;
        left: -2000px;
        top: 50%;
        transform: translateY(-50%);
        background: $color-white;
    }

    .__bordered {
        @include media($media__tablet) {
            max-width: 600px;
            font-size: 30px;
        }

        @include media($media__desktop) {
            max-width: 800px;
            font-size: 36px;
        }
    }
}
